@import "tailwindcss";

@theme {
  --animate-spin-slow: spin 24s linear infinite;
}

@utility scrollbar-none {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
